// Colours
$gray:       #111111;
$black:      #000000;
$text-color: #FFFFFF;
$brown:      rgb(196, 148, 29);

// Font Stack
$base-font-size:     16px;
$primary-font-stack: "Montserrat", sans-serif;
