@charset "UTF-8";
/*! NYER - version 1.0.0 */
/* by Chris Burnell (@iamchrisburnell)
 * A valuable tool for all ages, all occasions!
 *
 * Table of Contents:
 *
 * MONTSERRAT................ Import our font from Google Fonts.
 * NORMALIZE................. Import normalize as a reset.
 * NYER STYLES............... Just the general styles, y’know?
 */

@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import "normalize",
        "vars";

/*------------------------------------*\
    $ NYER
\*------------------------------------*/

html,
body {
    height: 100%;
}
html {
    box-sizing: border-box;
    touch-action: manipulation;
}
*,
*:before,
*:after {
    border-box: inherit;
}
body {
    background: $gray;
    color: $text-color;
    position: relative;
    font: 700 normal #{$base-font-size}/1em $primary-font-stack;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.bowse {
    background-color: $black;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12em;
    z-index: 1;
    transition: opacity .1s linear .9s;
    // Disable highlight colour on mobile
    -webkit-tap-highlight-color: rgba($black, 0);
    -webkit-tap-highlight-color: transparent;


    @media (max-width: 700px) {
        font-size: 6em;
    }

    &:active {
        opacity: 1;
        transition: none;
    }

    &:before,
    &:after {
        content: attr(data-text);
        width: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        text-align: center;
        transform: translateY(-50%) scale(1);
    }

        &:active:before,
        &:active:after {
            color: gold;
            transform: translateY(-50%) scale(1.25);
        }

    &:before {
        text-shadow: 0  1px 0 rgba($brown, .9),
                     0  2px 0 rgba($brown, .9),
                     0  3px 0 rgba($brown, .9),
                     0  4px 0 rgba($brown, .9),
                     0  5px 0 rgba($brown, .8),
                     0  6px 0 rgba($brown, .8),
                     0  7px 0 rgba($brown, .7),
                     0  8px 0 rgba($brown, .7),
                     0  9px 0 rgba($brown, .6),
                     0 10px 0 rgba($brown, .6);
        z-index: 2;
    }

    &:after {
        background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 1em rgba($text-color, .5);
        z-index: 3;
        animation: shiny .2s linear .2s;
    }

        &:active:after {
            animation: none;
        }

    svg {
        width: 100%;
        height: 95%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

}

@keyframes shiny {
    16.66% {
        background-image: linear-gradient(lighten(gold, 20%) 0%, gold 15%, moccasin 40%, gold 85%, goldenrod 100%);
    }
    33.33% {
        background-image: linear-gradient(gold 0%, lighten(gold, 20%) 15%, moccasin 40%, gold 85%, goldenrod 100%);
    }
    50% {
        background-image: linear-gradient(gold 0%, gold 15%, lighten(moccasin, 20%) 40%, gold 85%, goldenrod 100%);
    }
    66.66% {
        background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, lighten(gold, 20%) 85%, goldenrod 100%);
    }
    83.33% {
        background-image: linear-gradient(gold 0%, gold 15%, moccasin 40%, gold 85%, lighten(goldenrod, 20%) 100%);
    }
}

.instructions {
    opacity: 1;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 5em;
    text-align: center;
    z-index: 0;
    transition: opacity .1s linear .9s;
    transform: translateY(-50%);

    @media (max-width: 700px) {
        font-size: 2.5em;
    }

    .bowse:active + & {
        opacity: 0;
        transition: none;
    }

}

.credit {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 1em;
    z-index: 4;

    svg {
        width:  2.5em;
        height: 2.5em;
        display: inline-block;
        float: left;
        margin-right: .75em;
    }

    span {
        display: inline-block;
        line-height: 2.5em;
    }

    a {
        color: #5F8AA6;
        text-decoration: none;
    }

}
