/*------------------------------------*\
    $ BASE NYER
\*------------------------------------*/

html,
body {
    height: 100%;
}
html {
    box-sizing: border-box;
    touch-action: manipulation;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: $gray;
    color: $white;
    position: relative;
    overflow: hidden;
    font: 700 normal #{$base-font-size}/1em $primary-font-stack;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.svg-master {
    display: none;
}

a {
    color: $white;
}

h1 {
    @extend %full;
    opacity: .05;
    color: $white;
    display: block;
    margin: 0;
    font-size: 20em;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    z-index: -1;

    @include breakpoint("tablet") {
        font-size: 8em;
    }

    @include breakpoint("mobile") {
        font-size: 4em;
    }

}

.nyer {
    width: 100%;
    height: 100%;
}
