/*------------------------------------*\
    $ NYER CREDITs
\*------------------------------------*/

.credits {
    position: absolute;
    bottom: 1em;
    left: 50%;
    line-height: 2.5em;
    font-style: italic;
    text-shadow: 0 0 .5em $black;
    z-index: 4;
    transform: translateX(-50%);

    @include breakpoint("mobile") {
        font-size: .8125em;
    }

    svg {
        width:  2.5em;
        height: 2.5em;
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
    }

    a {
        color: #5F8AA6;
        font-style: normal;
        text-decoration: none;
    }

}
