    /*------------------------------------*\
    $ NYER INSTRUCTIONS
\*------------------------------------*/

.instructions {
    @extend %full;
    opacity: 1;
    font-size: 3em;
    text-align: center;
    white-space: nowrap;
    z-index: 0;
    transition: opacity .1s linear .9s;

    @include breakpoint("tablet") {
        font-size: 2em;
    }

    @include breakpoint("mobile") {
        font-size: 1em;
    }

    h3 {
        color: lighten($gray, 50%);
    }

    button:active + & {
        opacity: 0;
        transition: none;
    }

}
