    /*------------------------------------*\
    $ NYER INSTRUCTIONS
\*------------------------------------*/

.instructions {
    opacity: 1;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3em;
    text-align: center;
    z-index: 0;
    transition: opacity .1s linear .9s;
    transform: translateY(-50%);

    @include breakpoint("tablet") {
        font-size: 2em;
    }

    @include breakpoint("mobile") {
        font-size: 1em;
    }

    h3 {
        color: lighten($gray, 50%);
    }

    .bowse:active + & {
        opacity: 0;
        transition: none;
    }

}
