<script type="text/javascript">
    $(document).ready( function() {
        var audio = $('.audio-player').get(0);
        audio.load();
        var supportsVibrate = "vibrate" in navigator;
        $(".bowse").click( function(e) {
            e.preventDefault();
            document.title = "{{ site.title_active }}";
            setTimeout( function() {
                document.title = "{{ site.title }}";
            }, 800);
            audio.currentTime = 0;
            audio.play();
            if( supportsVibrate ) {
                navigator.vibrate(600);
            }
        });
    });
</script>
