////
/// Typography (Global)
/// @group base
////

html {
    background-color: $color-black;
    color: $color-white;
    font: 400 normal #{$base-font-size}/#{$base-line-height} $font-stack-primary;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {

}

a {

    span:not([class]):not([itemprop]) {
        @extend .hidden;
    }
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0 0 $spacing-small;
    text-align: center;
    &:not(:last-child) {
        margin-bottom: $spacing-medium;
    }
    img,
    svg {
        @extend %rounded;
    }
    a:link,
    a:visited,
    figcaption {
        color: $color-text-alt;
        font-style: italic;
    }
}

::selection {
    background: $color-brand;
    color: $color-white;
}
